<html>
<head>
<title>
Lessons Learned
</title>
</head>
<body>
To everyone from Cards Against Humanity and Lone Shark Games,
<br />
<br />
Over the span of this puzzle, the folks in the subreddit came together and compiled a list of facts that we believe that you need to be aware of.
<br />
<ul>
<li>Jtobcat is awe-inspiring at puzzles.</li>
<li>Bots hurt and help the subreddit on a regular basis.</li>
<li>Jrbudda can't ever look at the color grey the same way again.</li>
<li>Schuby and the other mods are amazing, and everyone should praise them forever.</li>
<li>Timhba acknowledged where the love is (in his pants).</li>
<li>Kratsg got things automated decently.</li>
</ul>
<br/>
! I forgot one! I kept bragging about my former Burger Time MAME world record at the absolute most inopportune times.
<br />
<br />
Anyway, those are the facts. Do with them as you must. And there most certainly may or may not be a puzzle in this as well.
<br />
<br />
Jeffrey "J.D." Lowe and the entire /r/holidaybullshit subreddit.
</body>
</html>